// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "../css/font.css";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }